@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.gato{
  transition: background-color 0.3s; 
}

.gato :hover {
  background-color: #484848;
  overflow: hidden;
}